@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<OnlineShope.Models.SpacialTag>
@{
    ViewData["Title"] = "Spacial Page";
}
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">
            Spacial Tag List
        </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create"><i class="fa-sharp fa-regular fa-plus"></i> New Spacial TAg</a>
    </div>

</div>
<br />
<div>
    <table class="table table-info border-1">
        <tr class="table-info">
            <th>@Html.DisplayNameFor(c => c.Condition)</th>
            <th></th>
            <th>Feature List</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Condition</td>

                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    @* <script type="text/javascript">
        $(function () {
            var Save = "@TempData["save"]";
            if (Save != '') {
                alertify.success(Save);
            }

            var Delete = "@TempData["delete"]";
            if (Delete != '') {
                alertify.success(Delete);
            }

            var Update = "@TempData["update"]";
            if (Update != '') {
                alertify.success(Update);
            }
        })
    </script> *@
}